* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    max-width: 1900px;
    height: 400px;
    background-color: whitesmoke;
}

#corpo {
    width: 95%;
    height: 70%;
    margin: 0 auto;
    background-color: rgb(87, 146, 223);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column-left {
    width: 25%;
    padding-left: 3%;
}

#numero-biglietto {
    color: white;
    font-weight: bold;
}

.qrcode {
    max-width: 30%;
}

.middle-column {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    color: white;
}

.titoli {
    margin-bottom: 2%;
}

.column-right {
    width: 25%;
    margin: 0 auto;
}

.logosamp {
    width: 50%;
    height: 50%;
    padding-left: 20%;
}

#prezzo {
    color: white;
    background-color: rgb(115, 145, 197);
    text-align: center;
}

